.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s;
}

.dropzone.dragover {
    background: black;
}

.dropzone.hover {
    background-color: black
}

