body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: #f8f9fa;
}

.admin-header,
.back-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  padding: 5px;
}

.admin-header h1,
.back-button h1 {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  color: #333;
  font-weight: bold;
}

.btn, a {
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(270deg, #f09819, #ff512f);
  border: none;
  color: white;
  transition: background 0.5s ease, box-shadow 0.2s ease;
  background-size: 200% 200%;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid white;
  margin: 10px 5px;
  text-decoration: none;
}

.btn:hover, a:hover {
  background-position: right bottom;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}

.admin-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.admin-content {
  display: flex;
  justify-content: space-between;
}

.admin-section {
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin-section h2 {
  margin-top: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1000px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background: linear-gradient(270deg, #f09819, #ff512f);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.logo {
  max-height: 50px;
  transition: box-shadow 0.3s ease-in-out;
}

.logo:hover {
  box-shadow: 0 0 10px #ffae42, 0 0 20px #ffae42, 0 0 30px #ffae42;
}