body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px #000;
  color: #ffffff;
  background-color: #4A317A;
  position: relative;
  padding: 1rem 0;
  font-size: 2rem;
}

.header img {
  max-width: 200px;
}

.header h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-top: 1rem;
}

.header-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header-buttons {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .header-buttons {
    flex-direction: column;
    gap: 0.25rem;
  }
}

.prompt {
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 50px;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

#prompt-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.prompt:hover {
  background-color: #4A317A;
  color: #ffffff;
}

.btn-primary {
  background-color: #4A317A;
  border-color: #4A317A;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

#chat-submit {
  background-color: #4A317A;
  color: #ffffff;
}

#chat-submit:hover,
#rate-submit:hover {
  background-color: #4A317A;
  color: #ffffff;
}

.card {
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-message {
  margin-bottom: 10px;
}

.input-expand {
  min-width: 20px;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  resize: horizontal;
}

.input-large {
  height: 50px;
  width: 100%;
}

.container.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  max-height: 400px;
}

.rate-response {
  margin-top: 80px;
}

@media (max-width: 576px) {
  .card {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .container.chat-container {
    padding: 1rem;
  }

  .card-body {
    padding: 1rem;
  }
}

textarea {
  resize: vertical;
  overflow: auto;
}

.rate-response {
  display: none;
}

.hero {
  background-color: #0B162B;
}

.progress-bar {
  background-color: #4A317A;
}

@keyframes loading {
  from { width: 0; }
  to { width: 100%; }
}

.progress-bar-animated {
  animation: loading 2s linear infinite;
}

.custom-jumbotron {
  background-color: #4A317A;
  color: white;
}

.active-item {
  background-color: blue;
  color: white;
}

#objectionExamplesModal ul li:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.example-objections {
  display: flex;
  align-items: center;
}

.example-objections textarea {
  flex: 1;
}

.example-objections a {
  margin-left: 10px;
}