table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.btn-return-home {
  background-color: #4A317A;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-return-home:hover {
  background-color: #000000;
}

.btn-download-history {
  background-color: #4A317A;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-download-history:hover {
  background-color: #000000;
}