table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }  