body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.admin-header {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.admin-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.admin-links li {
    margin: 0 15px;
}

.admin-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.admin-links a:hover {
    color: #ff512f;
}

form {
    width: 60%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border: 2px solid #f09819;
    border-radius: 5px;
    transition: border 0.3s;
}

.form-control:focus {
    border-color: #ff512f;
    box-shadow: none;
}

.btn.btn-primary {
    background: linear-gradient(270deg, #f09819, #ff512f);
    border: none;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.2s ease;
    font-weight: bold;
}

.btn.btn-primary:hover {
    background-position: right bottom;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}