<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Sensei Blog</title>
  
<!--CSS Stylesheet and Bootstrap Style Sheet-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<!-- Importing required JavaScript libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Importing Google Fonts for custom typography -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">


    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"> 
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sales Sensei Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Return Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Our Blog</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7064287243141611520" height="634" width="100%" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7064640087367565312" height="716" width="100%" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7063979239238225920" height="652" width="100%" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7066787451792470016" height="568" width="100%" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
            </div>
        </div>
    </div>
</body>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; Sales Sensei 2023. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <p class="social-icons">
                    <a href="https://www.linkedin.com/company/sales-sensei/" target="_blank">LinkedIn</a> |
                    <a href="https://twitter.com/sale_sensei" target="_blank">Twitter</a>
                </p>
            </div>
        </div>
    </div>
</footer>

</html>