<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='passwords.css') }}">
</head>
<body>
    <h1>Forgot Password</h1>
    <form method="POST" action="{{ url_for('forgot_password') }}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control form-control-sm" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control form-control-sm" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <a href="{{ url_for('login') }}" class="btn btn-primary">Return to Login</a>
</body>
</html>