<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon2.ico">
</head>
<body>
    <h1>Forgot Password</h1>
    <div class="password-requirements">
        When resetting your password, it must contain at least one uppercase letter, one lowercase letter, one digit, one symbol and be at least 15 characters in length.
    </div>
    <form method="POST" action="{{ url_for('forgot_password') }}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control form-control-sm" id="username" name="username" required required placeholder="wooyakob">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control form-control-sm" id="email" name="email" required required placeholder="email@mac.com">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="return-section">
            <a href="{{ url_for('login') }}" class="btn btn-primary">Return to Login</a>
        </div>
    </form>
</body>
</html>