<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SensAI Enabled Sales Training</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon2.ico">
</head>

<body>
    <header class="sticky-top bg-light">
        <div class="container-fluid d-flex justify-content-between align-items-center py-2">
            <div class="d-flex align-items-center">
                <a href="/">
                    <img src="{{ url_for('static', filename='sensai_rounded.png') }}" alt="SensAI Logo" class="img-fluid logo">
                </a>
                <h1 class="ml-2 mb-0"><span class="text-black">Sens</span><span class="text-orange">AI</span></h1>
    </header>

    <div id="prompt-container" class="mt-4 d-flex flex-row flex-wrap justify-content-start align-items-center">
        <div id="prompts"></div>
        <div class="btn-group ml-5" role="group" aria-label="Button group">
            {% if current_user.is_authenticated %}
                <a id="history-btn" class="mr-3 btn btn-primary active my-2" href="{{ url_for('user_history') }}">History</a>
                <a id="logout-btn" class="btn btn-primary active my-2" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a id="login-btn" class="btn btn-primary active my-2" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="container chat-container">
        <h1>You can use SensAI in three ways. Please select one of the following options:</h1>
        <button id="sales-objections-option" class="option-btn">Sales Objections</button>
        <button id="product-objections-option" class="option-btn">Product Objections</button>
        <button id="product-question-option" class="option-btn">Product Questions</button>
        <div id="chat-container" class="card">
            <div class="card-body">
                <div class="row">
                    <!-- GENERIC OBJECTIONS -->
                    
                    <div class="col-lg-4 mx-auto">
                        <div class="card mt-3 hide-card" id="sales-objections-card" style="background-color: #D3D3D3;">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span>Sales Objections</span>
                                <button type="button" class="btn btn-primary modal-example-btn" data-toggle="modal" data-target="#objectionExamplesModal">Examples</button>
                            </div>
                            <div class="card-body">
                                <div class="example-objections d-flex flex-column">
                                    <p class="text-muted">Enter a sales objection to get advice on how to handle it</p>
                                    <textarea id="objection-input" class="form-control" placeholder="Enter your own sales objection or choose from the examples" title="Type the sales objection here"></textarea>
                                    <button id="objection-advice-btn" class="btn btn-primary active mt-3">Submit Sales Objection</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                            <div class="modal fade" id="objectionExamplesModal" tabindex="-1" role="dialog" aria-labelledby="objectionExamplesModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="objectionExamplesModalLabel">Sales Objections</h5>
                                            <button type="button" class="btn btn-primary modal-example-btn" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li onclick="populateObjection(this)">We don't see any return on investment</li>
                                                <li onclick="populateObjection(this)">I'm not authorized to sign off on this purchase</li>
                                                <li onclick="populateObjection(this)">We don't have any budget left this year</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCT OBJECTIONS -->
                    <div class="col-lg-4 mx-auto">
                        <div class="card mt-3 hide-card" id="product-objections-card" style="background-color: #D3D3D3;">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span>Product Objections</span>
                                <button type="button" class="btn btn-primary modal-example-btn" data-toggle="modal" data-target="#productObjectionsExamplesModal">Examples</button>
                            </div>
                            <div class="card-body">
                                <div class="example-objections d-flex flex-column">
                                    <p class="text-muted">Enter a sales objection raised when selling a specific product</p>
                                    <textarea id="product-objection-input" class="form-control" placeholder="Enter your own product objection or choose from the examples"></textarea>
                                    <select id="product-objection-select" class="form-control mb-3">
                                        {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.product_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button id="product-objection-advice-btn" class="btn btn-primary active">Submit Product Objection</button>
                                </div>
                            </div>
                        </div>
                    </div>

                            <div class="modal fade" id="productObjectionsExamplesModal" tabindex="-1" role="dialog" aria-labelledby="productObjectionsExamplesModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="productObjectionsExamplesModalLabel">Example Product Objections</h5>
                                            <button type="button" class="btn btn-primary modal-example-btn" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li onclick="populateProductObjection(this)">I do not understand how your product works</li>
                                                <li onclick="populateProductObjection(this)">I am unclear on the product's clinical purpose</li>
                                                <li onclick="populateProductObjection(this)">Why should I buy your product</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCT Question -->
                    <div class="col-lg-4 mx-auto">
                        <div class="card mt-3 hide-card" id="product-question-card" style="background-color: #D3D3D3;">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span>Product Question</span>
                                <button type="button" class="btn btn-primary modal-example-btn" data-toggle="modal" data-target="#productAdviceExamplesModal">Examples</button>
                            </div>
                            <div class="card-body">
                                <div class="example-objections d-flex flex-column">
                                    <p class="text-muted">Enter a question about a specific product and get an answer</p>
                                    <textarea id="product-advice-input" class="form-control" placeholder="Ask your own product question or choose from the examples"></textarea>
                                    <select id="product-question-select" class="form-control mb-3">
                                        {% for product in products %}
                                        <option value="{{ product.id }}">{{ product.product_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button id="product-advice-btn" class="btn btn-primary active">Ask Product Question</button>
                                </div>
                            </div>

                            <div class="modal fade" id="productAdviceExamplesModal" tabindex="-1" role="dialog" aria-labelledby="productAdviceExamplesModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="productAdviceExamplesModalLabel">Example Product Advice Questions</h5>
                                            <button type="button" class="btn btn-primary modal-example-btn" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <ul>
                                                <li onclick="populateProductAdvice(this)">What are the product specifications?</li>
                                                <li onclick="populateProductAdvice(this)">What are the product's main features?</li>
                                                <li onclick="populateProductAdvice(this)">How many screws does it have?</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="container chat-output-container">
<div id="chat-output" class="mt-4"></div>

<div id="loading-bar" class="progress d-none">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="rate-response mt-4" id="rate-response" style="display: none;">
    <p class="text-muted">Please rate how helpful you found the SensAI's advice. 5 stars is extremely helpful.</p>
    <div id="stars-container" class="input-group mb-3">
        <span class="fa fa-star" onmouseover="highlightStars(1)" onclick="setRating(1)"></span>
        <span class="fa fa-star" onmouseover="highlightStars(2)" onclick="setRating(2)"></span>
        <span class="fa fa-star" onmouseover="highlightStars(3)" onclick="setRating(3)"></span>
        <span class="fa fa-star" onmouseover="highlightStars(4)" onclick="setRating(4)"></span>
        <span class="fa fa-star" onmouseover="highlightStars(5)" onclick="setRating(5)"></span>
        <input type="hidden" id="rating-input" class="form-control" min="1" max="5" placeholder="1: Bad, 5: Great">
        <div class="input-group-append">
            <button id="rate-submit-btn" class="btn btn-primary active rating-btn">Submit Rating</button>
        </div>
    </div>
</div>

<div class="container follow-up-container">
<div id="follow-up" class="mt-4"></div>

<div id="follow-up-options" class="mt-4" style="display: none;">
    <h2>What would you like to do next?</h2>
    <div class="mt-4 text-center">
        <button id="enter-objection-btn" class="btn follow-up-btn hide-rating" style="width: 200px">Use SensAI Again</button>
        <a id="history-btn" class="btn btn-primary active my-2" style="width: 200px" href="{{ url_for('user_history') }}">View Your History</a>
        <a id="logout-btn" class="btn btn-primary active my-2" style="width: 200px" href="{{ url_for('logout') }}">Logout</a>
    </div>
</div>
            
    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="/static/index.js"></script>

</body>

</html>