<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon2.ico">

    <style>
        .back-button {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="back-button">
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary btn-sm mr-2">Back to Dashboard</a>
        <a href="{{ url_for('download_login_report') }}" class="btn btn-primary btn-sm mr-2">Download Report</a>
    </div>

    <h1>Login Reports</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Login Time</th>
            </tr>
        </thead>
        <tbody>
            {% for login in logins %}
            <tr>
                <td>{{ login.username }}</td>
                <td>{{ login.login_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>