<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Users</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon2.ico">
    <link rel="stylesheet" href="/static/users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="top-section">
        <header class="admin-header">
            <h1>Users</h1>
        </header>
    
        <nav>
            <ul class="admin-links">
                <li><a href="{{ url_for('reports') }}">Reports</a></li>
                <li><a href="{{ url_for('products') }}">Products</a></li>
                <li><a href="/admin_dash">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>

    <div class="bottom-section">
        <form action="/admin/createuser" method="post">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <input type="submit" value="Create User" class="btn btn-primary">
        </form>
        
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>

</html>