<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon2.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='user_styles.css') }}">
</head>
<body>
  
  <div class="header-buttons">
    <a href="{{ url_for('dashboard') }}" class="header-button btn-return-home">Return</a>
    <a href="{{ url_for('download_history') }}" class="header-button btn-download-history">Download History</a>
  </div>

  <div class="history-buttons">
    <button id="show-objections" class="history-button">Show Objections</button>
    <button id="show-product-objections" class="history-button">Show Product Objections</button>
    <button id="show-product-questions" class="history-button">Show Product Questions</button>
  </div>
  

  <div class="container">
    <h1>History</h1>

<div id="objections-section">
    <h2>Objections</h2>
    <table>
      <thead>
        <tr>
          <th>Objection</th>
          <th>AI Response</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for interaction in objections %}
        <tr>
          <td>{{ interaction.objection }}</td>
          <td>{{ interaction.ai_response|safe }}</td>
          <td>{{ interaction.timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div id="product-objections-section" style="display: none;">
    <h2>Product Objections</h2>
    <table>
      <thead>
        <tr>
          <th>Product Objection</th>
          <th>Product Selected</th>
          <th>AI Response</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for interaction in product_objections %}
        <tr>
          <td>{{ interaction.product_objection }}</td>
          <td>{{ interaction.product_selected }}</td>
          <td>{{ interaction.ai_response|safe }}</td>
          <td>{{ interaction.timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div id="product-questions-section" style="display: none;">
    <h2>Product Questions</h2>
    <table>
      <thead>
        <tr>
          <th>Product Question</th>
          <th>Product Selected</th>
          <th>AI Response</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for interaction in product_questions %}
        <tr>
          <td>{{ interaction.product_advice }}</td>
          <td>{{ interaction.product_selected }}</td>
          <td>{{ interaction.ai_response|safe }}</td>
          <td>{{ interaction.timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/uhistory.js"></script>

</body>



</html>