<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Activity Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='reports.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon2.ico">

    <style>
        .back-button {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="back-button">
        <a href="{{ url_for('reports') }}" class="btn btn-primary btn-sm mr-2">Reports</a>
        <a href="{{ url_for('download_user_activity_report') }}" class="btn btn-primary btn-sm mr-2">Download Report</a>
    </div>

    <h1>User Activity Reports</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Objection</th>
                <th scope="col">AI Response</th>
                <th scope="col">Rating</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for interaction in interactions %}
            <tr>
                <td>{{ interaction.username }}</td>
                <td>{{ interaction.objection }}</td>
                <td>{{ interaction.ai_response }}</td>
                <td>{{ interaction.rating }}</td>
                <td>{{ interaction.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>