<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='user_styles.css') }}">
  <p><a href="{{ url_for('dashboard') }}" class="btn btn-secondary btn-return-home">Return</a></p>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"> 
</head>
<body>
  <h1>History</h1>
  <a href="{{ url_for('download_history') }}" class="btn btn-primary">Download History</a>
  <table>
    <thead>
      <tr>
        <th>Objection</th>
        <th>AI Response</th>
        <th>Rating</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for interaction in user_interactions %}
      <tr>
        <td>{{ interaction.objection }}</td>
        <td>{{ interaction.ai_response|safe }}</td>
        <td>{{ interaction.rating }}</td>
        <td>{{ interaction.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>