# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - sensaiwebapp

on:
  push:
    branches:
      - sensai
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://sensaicontainer.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_4a92ac26cd644d1ca41cdc398a2617a0 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_1e5ddac065294c1d91be30b1f197d1ba }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: sensaicontainer.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_4a92ac26cd644d1ca41cdc398a2617a0 }}/sensai-web:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'sensaiwebapp'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_19116f33465f48f1978219ceadc4135f }}
        images: 'sensaicontainer.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_4a92ac26cd644d1ca41cdc398a2617a0 }}/sensai-web:${{ github.sha }}'